:root {
    --gradient: linear-gradient(
        to right, 
        rgb(124,211,237), 
        rgb(27,175,219), 
        rgb(18,115,202)
    )
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
